[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
"asn1crypto" = "*"
astroid = "*"
attrs = "*"
automat = "*"
certifi = "*"
cffi = "*"
constantly = "*"
cryptography = "*"
cssselect = "*"
"flake8" = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
isort = "*"
jedi = "*"
lazy-object-proxy = "*"
lxml = "*"
mccabe = "*"
parsel = "*"
parso = "*"
pipenv = "*"
"pyasn1" = "*"
"pyasn1-modules" = "*"
pycodestyle = "*"
pycparser = "*"
pydispatcher = "*"
pyflakes = "*"
pyhamcrest = "*"
pylint = "*"
pyopenssl = "*"
queuelib = "*"
scrapy = "*"
six = "*"
twisted = "*"
typed-ast = "*"
virtualenv = "*"
virtualenv-clone = "*"
"w3lib" = "*"
wrapt = "*"
yapf = "*"
zope-interface = "*"
service_identity = "*"
flask = "*"
python-docx = "*"
flask-wtf = "*"
flask-nav = "*"
python-dotenv = "*"
flask-bootstrap = "*"

[dev-packages]

[requires]
python_version = "3.6"
