{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}flask生成word{% endblock %}

{% block body %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">

</div>
{% endblock %}


    <div class="container">
    <form action="{{ url_for('index') }}" method="POST" name="illegal_behavior">
    {{ form.csrf_token }}
    {{ wtf.form_field(form.name, class="form-control") }}
    {{ wtf.form_field(form.category, class="form-control", onChange="get_illegal_behavior()") }}
    {{ wtf.form_field(form.illegal_behavior, class="form-control") }}
    {{ wtf.form_field(form.food,class="form-control") }}
    {{ wtf.form_field(form.har,class="form-control") }}
    {{ wtf.form_field(form.address,class="form-control") }}
    {{ wtf.form_field(form.legal_representative,class="form-control") }}
    {{ wtf.form_field(form.telephone_number,class="form-control") }}
    {{ wtf.form_field(form.identification_number,class="form-control") }}
    {{ wtf.form_field(form.business_license,class="form-control") }}
    {{ wtf.form_field(form.num,class="form-control") }}
    {{ wtf.form_field(form.position,class="form-control") }}
    {{ wtf.form_field(form.illegal_label,class="form-control") }}
   <input class="btn btn-default" type="submit" name="key" value="申请表下载">
   <input class="btn btn-default" type="submit" name="key" value="清单下载">

    </form>
    </div>

{% block scripts %}
{{ super() }}
<script src="static/js/sltlaw.js"></script>
{% endblock %}

{% endblock %}
